.box-aviso {
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 14px;
    max-width: 300px;
    align-self: center;

    h4 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        text-align: left;
    }

    p {
        margin: 0;
        line-height: 1.3;
    }
}
.box-preview {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

    &__aviso {
        width: 100%;
    }

    &__pagos{
        align-self: flex-end;
        width: 100%;
    }
    p a {
        color: #00f;
    }

}



.box-promociones {
    margin-bottom: 20px;

    @media (min-width:768px) {
        display: flex;
    }

    .promocion {
        background-color: #f4f4f4;
        height: 100%;

        &__title {
            text-align: center;
            padding: 10px;
            background-color: $brand-success;
            color: #fff;
        }

        &__body {
            padding: 5px 15px;

            @media (min-width: 768px) {
                padding: 10px;
            }
        }

        h5 {
            font-size: 15px;
            margin: 0;
            font-weight: 400;
        }

        ul {
            padding-left: 20px;
            font-size: 14px;

            li {
                line-height: 1;
                margin-bottom: 5px;
            }
        }

        .precios {
            h4 {
                font-size: 39px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;

                @media(min-width: 768px) {
                    font-size: 22px;
                }
            }

            p {
                font-size: 14px;
                text-align: center;
                margin-bottom: 0;
            }

            small {
                font-size: 10px;
                display: block;
                text-align: center;
                color: #888;
            }
        }
    }
}

.box-precio {
    display: inline-block;
    background-color: #fe504f;
    padding:10px 20px;
    color: #fff;

    p {
        font-size: 22px;
        font-weight: 700;
        margin: 0;
    }
}