.card {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(100, 123, 146, .2);
    border: 1px solid #d7e0e8;

    &__header {
        background-color: #F8F9FA;
        padding-top: 5px;
        padding-bottom: 5px;
        @media(min-width: 768px) {
            padding: 5px 20px;;
        }
    }

    &__body {
        padding: 10px;

        @media(min-width: 470px) {
            padding: 20px;
        }
        .card--resumen & {
            padding: 0;
        }
    }

    &__footer {
        padding: 10px;
        border-top: 1px solid #eff0f1;
    }

}
.box-datos {

    .card--resumen & {
        background-color: #5B687E;
        color: #fff;

        &.bg-white {
            background-color: #fff;
            color: #111;
            padding: 0;
        }
    }

    h3 {
        font-size: 20px;
        margin-top: 12.5px;
    }

    h4 {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 0;
    }

    hr {
        margin: 0;
        opacity: .6;
    }

    span,
    p {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .box-datos span + span:before {
        content: ", ";
    }
}
.grm-tips {
    color: #ccc;

}