.custom-checkbox {
    margin-bottom: 0;
    color: #414749;
    line-height: 1.25;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid $input-border;

    &.no-border {
        padding-top: 0;
        padding-left: 0;
        border-width: 0;
    }

    @media (max-width: 470px) {
        width: 100%;
    }

    & + .custom-checkbox {
        border-top: 0;
    }

    .promocion & {
        padding: 0 10px;
    }

    p {
        z-index: 3;
        color: #414749;
        font-size: 12px;
        position: relative;
        margin: 0;

        .promocion & {
            font-weight: 400;
        }

        &.diario-nombre {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        width: 30px;
        z-index: 2;
        position: relative;

        .promocion & {
            width: 20px;
            margin-right: 10px;
        }

        #check-icon {
            width: 20px;
            circle {
                fill: #fff;
                stroke: #ccc;
            }
        }
    }

    &__input {
        display: none;
        &:checked {

            ~.custom-checkbox__icon {
                #check-icon {
                    circle {
                        fill: $brand-success;
                        stroke: $brand-success;
                    }
                }
            }

            ~.custom-checkbox__datos {
                opacity: 1;
            }
        }
    }
}

.custom-options {
    .promocion & {
        background-color: transparent;
    }
}