.main-header {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 3px solid #d7e0e8;

    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        color: red;
        img {
            max-width: 150px;
        }
        span {
            text-transform: uppercase;
            font-style: italic;
            display: block;
            font-size: 11px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}