.form-control {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0;
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-style: solid;
    position: relative;
    z-index: 0;
    background-color: transparent;

    &:focus {
        box-shadow: none;
    }

    &::placeholder {
        color: #A0A6A9;
    }
}

textarea.form-control {
    border-width: 2px;
    min-height: 100px;
    padding: 6px 12px;
}

select {
    &.form-control {
        border-width: 2px;
        border-style: solid;
        padding-left: 5px;
    }
    &:disabled {
       color: #bdbdbd;
    }
}

.form-group {
    label {
        font-weight: 400;
        margin-bottom: 0px;
        font-size: 14px;
        color: #A0A6A9;
    }
}

.float-label {
    position: relative;
    label {
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 0;
        transition: all ease-in-out 300ms;
    }

    input{
        &:focus,
        &.active {
            ~ label {
                visibility: visible;
                top: -12px;
                left: 0;
                z-index: 1;
                font-size: 13px;
                color: #A0A6A9;
            }

            &::placeholder {
                color: #fff;
            }
        }
    }


}

.error-msg {
    font-size:12px;
    color: $brand-danger;
    position: absolute;
    top: 100%;
    right: 0;
}

.word-counter {
    margin: 0;
    font-size: 14px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: none;
}