.bottom-nav {
    display: flex;
    justify-content: space-between;
}
.top-nav {
    button {
        color: #5B6470;
        text-align: center;
        position: relative;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none !important;
        width: 80px;
        padding-bottom: 0;

        @media(min-width: 768px) {
            width: 90px;
        }

        &:focus {
            outline: none !important;
        }

        span {
            display: block;
        }

        #check-icon {
           width: 20px;
           display: inline-block;
           z-index: 4;
           position: relative;

        }

        &::after {
            content: '';
            height: 2px;
            width: 80px;
            background-color: $brand-success;
            top: 40px;
            z-index: 1;
            position: absolute;
            left: 34px;

            @media(min-width: 768px) {
                width: 90px;
            }
        }

        &::after {
            background-color: rgba( #5B6470, .2 );
        }

        &:last-child {
            &::after {
                height: 0 !important;
            }
        }

        &:disabled {
            opacity: 1;

            span {
                color: rgba( #5B6470, .3 );
            }

            #check-icon {
                circle {
                    fill: #fff;
                    stroke: rgba( #5B6470, .3 );
                }
            }

            &.active {
                span {
                    color: #5B6470;
                }

                #check-icon {
                    circle {
                        fill: #fff;
                        stroke: $brand-success;
                    }
                }
            }
        }
    }
}