.snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    text-align: center;
    z-index: 1020;
   

    .content {
        background-color:#222;
        position: relative;
        padding: 15px;
        display: inline-block;
        top: 50px;
        transition: all ease-in-out 300ms;
        
        p {
            margin: 0;
            line-height: 1;
            color: #fff;
        }
        &.show {
            top: -50px;
            display: inline-block !important;
        }
    }
}
