// Body
// $body-bg: #e9ebee;
$body-bg: #f5f7f9;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//Grid
$grid-gutter-width: 20px;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #2ecc71;
$brand-info: #2ca8ff;
$brand-success: #4BB946;
$brand-warning: #cbb956;
$brand-danger: #fe504f;

//border
$border-radius-base: 0px;
$border-radius-large : 0px;
$border-radius-small : 0px;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #111;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$form-group-margin-bottom: 25px;

// Panels
$panel-default-heading-bg: #fff;

$input-border: #f2f4f3;
